@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Open Sans', sans-serif;
}

.overlay button:hover {
    background-color: #4ea0da;
}