@import "https://unpkg.com/carbon-components/css/carbon-components.min.css";
body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 80px;
    background-color: #8d8d8d;
    opacity: .4;
    color: #f4f4f4;
}

.overlay:hover {
    opacity: .9;
}